/* General */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


/* Home Page */

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}
